$def with (notes)
$var css: /static/style.css
$var js: /static/main.js

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes</title>
    $if self.css:
        $for style in self.css.split()
            <link rel="stylesheet" href="$style" />
    $if self.js:
        $for js in self.js.split()
            <script src="$js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Notes</h1>
            <!-- Notes List Card -->
            <div class="note-list">
                $if notes:
                    $for note in notes:
                        <div class="note">
                            <div>
                                <h3 class="note-title">$note.title</h3>
                                <span class="datetime">$note.edited</span>
                            </div>
                            <div class="actions">
                                <form method="get" action="/edit/$note.id">
                                    <button type="submit" class="btn btn-secondary">Edit</button>
                                </form>
                                <form method="post" action="/delete/$note.id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                $else:
                    <p>No notes available.</p>
            </div>
            <a href="/add" class="btn btn-primary back-link" style="margin-top:2rem;">Add a New Note</a>
        </div>
    </body>
</html>